<div class="companies">
  <h1>Dealbook - Companies</h1>

  <div id="navbar">
    <nav><a href="#companies">List</a> - <a href="#companies/new">Add</a></nav>
  </div>

  <ul>
    {{#each companies}}
    <li>{{name}}</li>
    {{/each}}
  </ul>
</div>
