<div class="companies">
  <h1>Dealbook - Add Company</h1>

  <div id="navbar">
    <nav><a href="#companies">List</a> - <a href="#companies/new">Add</a></nav>
  </div>

  <div class="form">
    <input class="input js-company-name-input" />
    <button class="button js-add-company">Add this company</button>
  </div>
</div>
