<div class="companies">
  <h1>Dealbook - Add Company</h1>

  <div id="navbar">
    <nav><a href="#companies">List</a> - <a href="#companies/new">Add</a></nav>
  </div>

  <div class="companies__form">
    <input id="company-name" />
    <button id="add">Add this company</button>
  </div>
</div>
